html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Published-form-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.Published-form-body {
    flex: 1;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px 0;
}

.Published-form-content {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
}

.form-check-input:checked {
    background-color: var(--form-primary-color) !important;
    border-color: var(--form-primary-color) !important;
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.1);
}