html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Published-form-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.Published-form-body {
    flex: 1;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px 0;
}

.Published-form-content {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
}

.form-check-input:checked {
    background-color: var(--form-primary-color) !important;
    border-color: var(--form-primary-color) !important;
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.1);
}

.thank-you-container .form-control:focus {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}

.form-closed-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding-top: 2%;
}

.form-closed-card {
    background: #fff;
    padding: 60px 70px;
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
    text-align: center;
    max-width: 700px;
    width: 100%;
}

.form-closed-card h2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: rgb(55, 65, 81);
}

.form-closed-card p {
    font-size: 1.1rem;
    color: #9BA0A8;
    margin: 0;
}